<div class="eeprom-loading" data-bind="visible: initialLoad">
    <p>
        <i class="fa fa-spinner" data-bind="css: {'fa-spin': initialLoad}"></i>
        <br>
        <span>
            <i class="fas-custom fa-custom-edit text-success"></i>
            EEPROM Editor
            <br>
            Loading
        </span>
    </p>
</div>
