
<div class="eeprom-notmarlin" data-bind="visible: !info.is_marlin() && !initialLoad() && info.name().length > 0">
    <p>
        <i class="fa fa-times text-error fa-3x"></i>
    </p>
    <p>
        <strong>
            {{ _("It looks like your firmware is not Marlin") }}
        </strong>
    </p>
    <p>
        {{ _("Firmware reports name as: ") }}<span class="text-bold" data-bind="text: info.name"></span>
    </p>
    <p>
        {{ _("This plugin only works with Marlin Firmware, sorry!") }}
    </p>
</div>
