
<div class="eeprom-notconnected" data-bind="visible: !initialLoad() && !(info.name().length > 0) && !printer_locked()">
    <p>
        <span class="fa-stack fa-3x">
            <i class="fas fa-plug fa-stack-2x text-info"></i>
            <i class="fa fa-times fa-stack-2x text-error"></i>
        </span>
    </p>
    <p>
        <strong>
            {{ _("Looks like the printer is disconnected") }}
        </strong>
    </p>
    <p>
        {{ _("Connect to the printer to edit it's configuration.") }}
    </p>
</div>
