<div id="eeprom_backup" class="row-fluid">
    <div class="span3">
        {% include "backup/sidebar.jinja2" %}
    </div>
    <div class="span9">
        {% include "backup/content.jinja2" %}
    </div>
</div>
