<div id="eeprom_backup" class="row-fluid">
    <div class="span12">
        {% include "backup/content.jinja2" %}
    </div>
</div>
{% include "snippets/upload_modal.jinja2" %}
{% include "snippets/backup_name_modal.jinja2" %}
