<div class="btn-group" data-bind="visible: backup_open()">
    <button class="btn" data-bind="click: create_backup, enable: enable_buttons">
        <i class="fa fa-fw fa-plus"></i>
        {{ _(" New backup") }}
    </button>
    <button class="btn" disabled>
        <i class="fa fa-upload" aria-hidden="true"></i>
        {{ _(" Upload backup") }}
    </button>
</div>
