{% macro data_binding(key, value) %}
eeprom.{{ key }}.{{ value }}
{% endmacro %}

{% macro single_field(name, key, data) %}
<div class="row-fluid" data-bind="visible: {{ data_binding(name, key) }}() !== null">
    <div class="span6">
        <label for="{{ name }}-{{ key }}" class="pull-right">
            {{ data["label"] }}
        </label>
    </div>
    <div class="span6">
        {% if data["type"] != "bool" %}
            {% if data["type"] == "float1" %}
                {% set step = "0.1" %}
            {% elif data["type"] == "float2" %}
                {% set step = "0.01" %}
            {% elif data["type"] == "int" %}
                {% set step = "1" %}
            {% endif %}
            {% if "units" in data %}
                <div class="input-append">
                    <input
                            type="number"
                            id="{{ name }}-{{ key }}"
                            class="input-small"
                            step="{{ step }}"
                            data-bind="value: {{ data_binding(name, key) }}, enable: enable_fields, event: {keyup: edited}"
                    >
                    <span class="add-on">{{ data.units }}</span>
                </div>
            {% else %}
                <input id="{{ name }}-{{ key }}" type="number" class="input-small" step="{{ step }}" data-bind="value: {{ data_binding(name, key) }}, enable: enable_fields(), event: {keyup: edited()}">
            {% endif %}
        {% else %}
        bool
        {% endif %}
    </div>
</div>
{% endmacro %}
