<!-- ko if: loginState.hasPermission(access.permissions.PLUGIN_EEPROM_MARLIN_READ) -->
<div class="row-fluid eeprom-nav">
    <div class="span3">
        <div class="eeprom-brand">
            <i class="fas fa-2x fa-edit text-success pull-right"></i>
            <p>EEPROM <br>Editor</p>
        </div>
    </div>
    <div class="span9">
        <div class="btn-group" data-bind="visible: !backup_open()">
            <button class="btn" data-bind="click: load_eeprom, enable: enableLoad">
                <i class="fa fa-fw fa-refresh" data-bind="css: {'fa-spin': loading()}"></i>
                {{ _(" Load") }}
            </button>
            <button class="btn" data-bind="click: save_eeprom, css: {'btn-primary': unsaved()}, enable: enableSave" >
                <i class="fas fa-fw" data-bind="css: {'fa-refresh fa-spin': saving(), 'fa-save': !saving()}"></i>
                {{ _(" Save") }}
            </button>
            <button class="btn btn-danger" data-bind="click: reset_eeprom, enable: enableReset">
                <i class="fa fa-fw fa-eraser"></i>
                {{ _(" Reset") }}
            </button>
        </div>
        {% include "backup/controls.jinja2" %}
        <div class="btn-group pull-right">
            <button class="btn" data-bind="click: toggle_backup">
                <i class="fas fa-fw" data-bind="css: {'fa-cloud-download-alt': !backup_open(), 'fa-edit': backup_open()}"></i>
                <span data-bind="text: backup_open() ? '{{ _("EEPROM") }}' : '{{ _("Backup") }}'"></span>
            </button>
        </div>
    </div>
</div>
<div class="row-fluid eeprom-alerts">
    <div class="span12">
        {% include "alerts/printer.jinja2" %}
    </div>
</div>
<div id="eeprom_tab_data" class="collapse in" data-bind="visible: !initialLoad() && info.is_marlin() && info.name().length > 0">
    <div class="row-fluid">
        <div class="span3">
            {% include "sub/tab-sidebar.jinja2" %}
        </div>
        <div class="span9 eeprom-content">
            <div class="tab-content">
                {% include "sub/tab-content.jinja2" %}
            </div>
        </div>
    </div>
</div>
<div id="eeprom_tab_backup" class="collapse">
    {% include "backup/backup.jinja2" %}
</div>
<div id="eeprom_overlays" data-bind="visible: !backup_open()">
{% include "overlays/loading.jinja2" %}
{% include "overlays/not_marlin.jinja2" %}
{% include "overlays/not_connected.jinja2" %}
</div>
<!-- /ko -->
<!-- ko if: !loginState.hasPermission(access.permissions.PLUGIN_EEPROM_MARLIN_READ) -->
<div class="alert alert-warning">
    <i class="fa fa-user-times text-error fa-3x pull-left" style="margin-right: 0.5em;"></i>
    <p>{{ _("Your user account does not have the correct permissions to use this feature.") }}</p>
    <p>{{ _("You need to ask the administrator of this instance to enable it for you.")}}</p>
</div>
<!-- /ko -->
