<h2><i class="fas fa-bahai text-warning"></i>Hello from a new maintainer!<i class="fas fa-bahai text-warning"></i></h2>
<p>I think this plugin has some great potential, and since it had not seen updates in a couple years I decided to take over ownership & maintenance</p>
<p>The new Github Repository can be found at <a href="https://github.com/cp2004/OctoPrint-EEPROM-Marlin/">OctoPrint-EEPROM-Marlin</a>, for all your bugs, issues and questions!</p>
<p>Code contributions are encouraged, if you've got a feature in mind please think about contributing it!</p>

<p><b>If you appreciate the work I've put into this plugin, please support it's development! Any contributions are appreciated.</b></p>

<a class="btn btn-success" href="https://github.com/sponsors/cp2004/" target="_blank"><i class="fa fa-heart" aria-hidden="true"></i> Support my work</a>

<p>You might also want to check out my other projects:</p>
<ul>
    <li><a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status">WS281x LED Status</a></li>
    <li><a href="https://github.com/cp2004/Octoprint-Upgrade-To-Py3">OctoPrint Upgrade To Python 3</a></li>
</ul>
<div class="row">
    <span class="span3" style="padding-left: 25px;">
        <img class="img-circle" src="https://github.com/cp2004.png?size=100" alt="cp2004-profile">
    </span>
    <div class="span9" style="border-left: darkgray; border-left-width: thick; padding-top: 25px;">
        <span style="font-size: large"><strong>Charlie Powell</strong></span><br>
        <span> (aka cp2004 on <a href="https://github.com/cp2004/">GitHub</a>, the OctoPrint Discord & Community Forum)</span>
    </div>
</div>
