<h2><i class="fas-custom fa-custom-bahai text-warning"></i>Hello from a new maintainer!<i class="fas-custom fa-custom-bahai text-warning"></i></h2>
<p>I think this plugin has some great potential, and since it had not seen updates in a couple years I decided to take over ownership.</p>
<p>The new Github Repository can be found at <a href="https://github.com/cp2004/OctoPrint-EEPROM-Marlin/">OctoPrint-EEPROM-Marlin</a>, for all your bugs, issues, questions!</p>
<p><b>If you appreciate the work I've put into this plugin, please support my work! Any contributions are appreciated.</b></p>

<iframe src="https://github.com/sponsors/cp2004/button" title="Sponsor cp2004" height="35" width="116" style="border: 0;"></iframe>

<p>If you want to see what I have planned for this plugin, you can take a look at the <a href="https://github.com/cp2004/OctoPrint-EEPROM-Marlin/issues/1">ticket here.</a></p>
<p>You might also want to check out my other projects:</p>
<ul>
    <li><a href="https://github.com/cp2004/OctoPrint-WS281x_LED_Status">WS281x LED Status</a></li>
    <li><a href="https://github.com/cp2004/Octoprint-Upgrade-To-Py3">OctoPrint Upgrade To Python 3</a></li>
</ul>
<div class="row">
    <span class="span3" style="padding-left: 25px;">
        <img class="img-circle" src="https://github.com/cp2004.png?size=100" alt="cp2004-profile">
    </span>
    <div class="span9" style="border-left: darkgray; border-left-width: thick; padding-top: 25px;">
        <span style="font-size: large"><strong>Charlie Powell</strong></span><br>
        <span> (aka cp2004 on <a href="https://github.com/cp2004/">GitHub</a> and the OctoPrint Discord & Community Forum)</span>
    </div>
</div>

