<h4>EEPROM Marlin Plugin</h4>
<p>This plugin is designed to get, change and save the values in the EEPROM of your Marlin Firmware based Machine.</p>
<p><i class="fas-custom fa-custom-hand-point-right text-warning"></i> The EEPROM editor has moved</p>
<p>You can now find it in its own little tab in the main web UI. This space will be reserved for the <em>plugin's settings</em> in the future, rather than the actual plugin interface.</p>

<p>Enjoying the plugin? <strong>Support it's development below!</strong></p>

<iframe src="https://github.com/sponsors/cp2004/card" title="Sponsor cp2004" height="225" width="600" style="border: 0;"></iframe>
