<div id="EEPROMSponsorsModal" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Sponsors!</h3>
	</div>
	<div class="modal-body">
        <p>These wonderful people have sponsored development of this plugin. As a thank you, their names are here in the plugin.</p>
        <p>Want to see your name here? <a class="text-success" href="https://github.com/sponsors/cp2004" target="_blank">You can sponsor too!</a></p>
        <ul>
            {% for sponsor in plugin_eeprom_marlin_SPONSORS %}
                {% if sponsor["url"] %}
                <li><a href="{{ sponsor["url"] }}">{{ sponsor["name"] }}</a> </li>
                {% else %}
                <li>{{ sponsor["name"] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>
<div id="EEPROMContributorModal" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<h3>Contributors!</h3>
	</div>
	<div class="modal-body">
        <p>These wonderful people have helped out in development of this plugin. Whether it's fixing bugs, improvements to the code, or new features, all are useful!</p>
        <p>Want to see your name here? Get involved over on the repo. Any help is always appreciated!</p>
        <ul>
        {% for contributor in plugin_eeprom_marlin_CONTRIBUTORS %}
            {% if contributor["url"] %}
            <li><a href="{{ contributor["url"] }}">{{ contributor["name"] }}</a> </li>
            {% else %}
            <li>{{ contributor["name"] }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
	</div>
</div>
