<div class="alert alert-block" data-bind="visible: !enable_fields() && !initialLoad()">
    <p><strong>Read-only mode</strong></p>
    <p>{{ _("Printer is currently printing or disconnected, EEPROM configuration is disabled. Editor is in read-only mode") }}</p>
</div>
