<div class="alert alert-block" data-bind="visible: !loading() && !saving() && !enable_fields() && !initialLoad() && info.name() && info.is_marlin()">
    <p><strong>Read-only mode</strong></p>
    <p>
        {{ _("Printer is currently") }}
        <span data-bind="text: printerState.isBusy() ? '{{ _("printing") }}' : '{{ _("disconnected") }}'"></span>
        {{ _("so EEPROM configuration is disabled. Editor is in read-only mode") }}</p>
</div>
