<div class="alert alert-block eeprom-locked" data-bind="visible: printer_locked">
    <p>
        <i class="fas fa-2x fa-lock"></i>
    </p>
    <p>
        <strong>
            {{ _("Looks like the printer is locked") }}
        </strong>
    </p>
    <p>
        {{ _("Unlock the printer to use the EEPROM editor") }}
    </p>
</div>
