{% import "snippets/single_field.jinja2" as field %}

<div data-bind="visible: eeprom.print_acceleration.visible">
    <strong>{{ _("Print Acceleration") }}</strong>
    <hr>
    {% for key, value in plugin_eeprom_marlin_DATA_STRUCTURE.print_acceleration.params.items() %}
    {{ field.single_field("print_acceleration", key, value) }}
    {% endfor %}
</div>
<div data-bind="visible: eeprom.print_acceleration.visible">
    <hr>
    <strong>{{ _("Maximum Acceleration") }}</strong>
    <hr>
    {% for key, value in plugin_eeprom_marlin_DATA_STRUCTURE.max_acceleration.params.items() %}
    {{ field.single_field("max_acceleration", key, value) }}
    {% endfor %}
</div>
