<div data-bind="visible: eeprom.advanced.visible">
    <strong>{{ _("Advanced") }}</strong>
    <hr>
    <!-- ko foreach: UI.advanced -->
    {% include 'snippets/single_field.jinja2' %}
    <!-- /ko -->
</div>
