<div data-bind="visible: eeprom.autolevel.visible">
    <strong>{{ _("Autolevel") }}</strong>
    <hr>
    <!-- ko foreach: UI.autolevel -->
    {% include 'snippets/single_field.jinja2' %}
    <!-- /ko -->
</div>
