{% import "snippets/single_field.jinja2" as field %}

<div data-bind="visible: eeprom.endstop.visible">
    <strong>{{ _("Endstop Offsets") }}</strong>
    <hr>
    {% for key, value in plugin_eeprom_marlin_DATA_STRUCTURE.endstop.params.items() %}
    {{ field.single_field("endstop", key, value) }}
    {% endfor %}
</div>
