<div data-bind="visible: eeprom.feedrate.visible">
    <strong>{{ _("Feedrate") }}</strong>
    <hr>
    <!-- ko foreach: UI.feedrate -->
    {% include "snippets/single_field.jinja2" %}
    <!-- /ko -->
</div>
