{% import "snippets/single_field.jinja2" as field %}

<div data-bind="visible: eeprom.feedrate.visible">
    <strong>{{ _("Feedrate") }}</strong>
    <hr>
    {% for key, value in plugin_eeprom_marlin_DATA_STRUCTURE.feedrate.params.items() %}
    {{ field.single_field("feedrate", key, value) }}
    {% endfor %}
</div>
