<div class="eeprom-info">
    <div class="card">
        <p>
            <strong>{{ _("Firmware Name:") }}</strong> <span data-bind="text: info.name"></span>
        </p>
        <!-- ko foreach: info.additional -->
        <p>
            <strong data-bind="text: name"></strong>: <span data-bind="text: val"></span>
        </p>
        <!-- /ko -->
    </div>
    <!-- ko if: settingsViewModel.settings.plugins.eeprom_marlin.m78 -->
    <div class="card">
        <p><strong>Printer Stats (M78)</strong></p>
        <!-- ko if: stats.prints -->
        <p>
            <strong>{{ _("Total Prints:") }}</strong> <span data-bind="text: stats.prints"></span>
        </p>
        <!-- /ko -->
        <!-- ko if: stats.finished -->
        <p>
            <strong>{{ _("Finished Prints:") }}</strong> <span data-bind="text: stats.finished"></span>
        </p>
        <!-- /ko -->
        <!-- ko if: stats.failed -->
        <p>
            <strong>{{ _("Failed Prints:") }}</strong> <span data-bind="text: stats.failed"></span>
        </p>
        <!-- /ko -->
        <!-- ko if: stats.total_time -->
        <p>
            <strong>{{ _("Total Print Time:") }}</strong> <span data-bind="text: stats.total_time"></span>
        </p>
        <!-- /ko -->
        <!-- ko if: stats.longest -->
        <p>
            <strong>{{ _("Longest Print:") }}</strong> <span data-bind="text: stats.longest"></span>
        </p>
        <!-- /ko -->
        <!-- ko if: stats.filament -->
        <p>
            <strong>{{ _("Filament used:") }}</strong> <span data-bind="text: stats.filament"></span>
        </p>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <div class="eeprom-capabilities">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th class="icon"></th>
                    <th class="capability">{{ _("Capability") }}</th>
                    <th class="value">{{ _("Enabled") }}</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: info.capabilities -->
                <tr>
                    <td>
                        <!-- ko if: link -->
                        <a data-bind="attr: {href: link }" target="_blank"><i class="fas fa-info-circle text-info"></i></a>
                        <!-- /ko -->
                    </td>
                    <td data-bind="text: cap"></td>
                    <td>
                        <i class="fa fa-fw" data-bind="css: {'fa-check text-success': val, 'fa-times text-error': !val}"></i>
                        <span data-bind="text: val ? 'True' : 'False'"></span>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>
