<div data-bind="visible: eeprom.linear.visible">
    <strong>{{ _("Linear Advance") }}</strong>
    <hr>
    <!-- ko foreach: UI.linear -->
    {% include "snippets/single_field.jinja2" %}
    <!-- /ko -->
</div>
