{% import "snippets/single_field.jinja2" as field %}

<div data-bind="visible: eeprom.home_offset.visible">
    <strong>{{ _("Home Offset") }}</strong>
    <hr>
    {% for key, value in plugin_eeprom_marlin_DATA_STRUCTURE.home_offset.params.items() %}
    {{ field.single_field("home_offset", key, value) }}
    {% endfor %}
</div>

<div data-bind="visible: eeprom.probe_offset.visible">
    <hr>
    <strong>{{ _("Probe Offset") }}</strong>
    <hr>
    {% for key, value in plugin_eeprom_marlin_DATA_STRUCTURE.probe_offset.params.items() %}
    {{ field.single_field("probe_offset", key, value) }}
    {% endfor %}
</div>
