<div data-bind="visible: eeprom.hotend_pid.visible">
    <strong>{{ _("Hotend PID") }}</strong>
    <hr>
    <!-- ko foreach: UI.hotend_pid -->
    {% include 'snippets/single_field.jinja2' %}
    <!-- /ko -->
</div>



<div data-bind="visible: eeprom.bed_pid.visible">
    <hr>
    <strong>{{ _("Bed PID") }}</strong>
    <hr>
    <!-- ko foreach: UI.bed_pid -->
    {% include 'snippets/single_field.jinja2' %}
    <!-- /ko -->
</div>
