<div data-bind="visible: eeprom.steps.visible">
    <strong>{{ _("Steps") }}</strong>
    <hr>
    <!-- ko foreach: UI.steps -->
    {% include "snippets/single_field.jinja2" %}
    <!-- /ko -->
</div>
