{% import "snippets/single_field.jinja2" as field %}

<div data-bind="visible: eeprom.steps.visible">
    <strong>{{ _("Steps") }}</strong>
    <hr>
    {% for key, value in plugin_eeprom_marlin_DATA_STRUCTURE.steps.params.items() %}
    {{ field.single_field("steps", key, value) }}
    {% endfor %}
</div>
